/*you need to add:

body {
  background: url("[link]");
  color: #[hex (3 or 6 is fine)];
	font-family: [font];
	background-attachment: fixed;

  margin: 1em 2em 0 2em;	
}

by yourself, as different backgrounds are very frequent

may put link colours in this category if i change it too much*/

.section {
  padding-top: 12px;
	border-bottom: 1px solid #fff;
	padding-bottom: 12px;
}

.section p:first-child {
    margin-top: 0px;
}

a {
     color: #0f0;
}
		  
a:visited {
    color: #06f;
}

.section audio {
  margin-top: 18px;
}



.header {
  padding-top: 0px;
	text-align: center;
}